body { 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: #F3F5F6;
    margin: 0;
}
/* --------------------------------Header--------------------------- */

.header {
    display: flex;
    justify-content: right;
    height: 120px;
    background-color: #BCBCBC;
    background-image: linear-gradient(#FFFFFF, #A8A8A8);
    box-shadow: 0px 2px 5px #c3c3c3;
}

.boxumProfil, .boxumAErstellen {
    /* Positionierung der Box */
    position: relative;

    /* Einbetten der Box in den Header */
    height: inherit;
    min-width: 110px;
}

.boxumProfil:hover, .boxumAErstellen:hover {
    cursor: pointer;
    background-image: linear-gradient(#d6e1e875, #1d415967);
}

.profil, .aErstellen{
    /* Positionierung der Buttons in der Mitte der Box 'boxumProfil' */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* Groeße des Buttons */
    height: 50%;
    width: 50%;
    max-height: 40px;
    max-width: 40px;

    /* Runder Button */
    border-radius: 50%;
    border: 0px;
}

.profil {
    background-image: url("Profil_Logo.svg");
    background-size: cover;
    background-color: white;
}

.aErstellen {
    background-image: url("Anleitunghinzufuegen.svg");
    background-size: cover;
    background-color: white;
}

.profil:hover, .aErstellen:hover {
    cursor: pointer;
}

.logocontainer {
    display: flex;
    justify-content: left;
    height: 120px;
    position: absolute;
    top: 0.25%;
    left: 3%;
}
/* ---------------------------Bodybody-------------------------- */

.body {
    background-image:url(../static/SVG_Hintergrund3.svg);
    margin: 0;
    background-position-y: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: static;
    width: 100%;
    height: 100%;
}

/* "Mein Profil */

.infoText{
    padding-top: 70px;
    margin:0;
    font-size: 36px;
    display: flex; 
    justify-content: center;
}
/* Benutzerlogo */

.Benutzerlogo{
    display: flex; 
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 20px;
}

.Eingabefelder{
    
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
p{
    padding-left: 2px;
    margin: 0;
    font-size: 24px;

}

::placeholder{
    font-size: 16px;
}

.texteingabe {
    border-radius: 15px;
    border-color: #000;
    border-width: 2px;
    height: 40px;
    padding-left: 10px;
}

/* Design der Buttons */

/* .buttons{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding-top: 70px; 
    padding-bottom: 75px;
    gap: 280px;
}
.buttonAbbrechen{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 35px;
    background-color: #fff;
    border-color: #4680A7;
    border-radius: 20px;

}
.textbox{
    padding-bottom: 40px;
}
.buttonAbbrechen:hover{
    background-color: #D5DFE5;
    cursor: pointer;
}
.buttonSpeichern{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 35px;
    color: #fff;
    background-color:#4680A7;
    border-radius: 20px;
    border-color: #4680a700;

}

.buttonSpeichern:hover{
    background-color:#366585;
    cursor: pointer;

} */

/* Positionierung der Buttons in der Mitte der Box 'abbruchspeichern' */
.abbruchspeichern {
    padding-top: 40px; 
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
    display: flex;
    width: 40%;
    padding-bottom: 25px;
}

/* Design der Buttons */
.buttonabbrechen {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 35px;
    background-color: #fff;
    border-color: #4680A7;
    border-radius: 20px;
    padding: 10%;
}

.buttonabbrechen:hover {
    background-color: #D5DFE5;
}

.buttonspeichern {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 35px;
    color: #fff;
    background-color:#4680A7;
    border-radius: 20px;
    border-color: #4680a700;
}

.buttonspeichern:hover {
    background-color:#366585;
}

.buttoninnensekundaer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    margin-right: 7%;
}

.buttonschriftsekundaer {
    font-size: 18px;
    color: #4680A7;
}

.buttoninnenprimaer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    margin-right: 7%;
}

.buttonschriftprimaer {
    font-size: 18px;
    color: #fff;
}
