<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SbS - Meine Anleitungen</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins">

    <link rel="stylesheet" href="../static/Meine_Anleitungen.css" type="text/css">
    
</head>

<body>

    <div class="header">
        <div class="boxumAErstellen">
            <input class="aErstellen" type="button" onclick="location.href='Add_page.html'">
        </div>

        <div class="boxumProfil">
            <input class="profil" type="button" onclick="location.href='Mein_Profil.html'">
        </div>       
    </div>

    <div class="logocontainer" onclick="location.href='Startbildschirm.html'">
        <img class="logo" src='../static/Logo.svg'>
    </div>

    <!-- Hintergrund -->
    <div class="hintergrund">

        <div class="Überschrift">
            Meine Anleitungen            
        </div>

        <div class="Positiontabelle">

            <div class="vorschlaege">
                <div id="zuletzt">
                    <u>Meine Entwürfe:</u>
                </div>
                
                <div class="auflistungSchritt" onclick="location.href='Anleitung_durchgehen.html'">
                    <img id="Bild1" src="../static/Seehecht_angeordnet.jpg">
                    <p>Gebratener Seehecht mit Kartoffelstreifen</p>
                </div>
            </div>

            <div class="katalog">
                <div>Katalog</div>
            </div>

            <div class="anordnungTabelle">

                <table id="moeglicheAnleitungen">
                    <tr>
                        <th></th>
                        <th>Titel</th>
                        <th>Ersteller</th>
                        <th>Kategorien</th>
                        <th>Dauer [min]</th>
                        <th>Datum</th>
                        <th><img src="../static/Anleitungsichern.svg"></th>
                    </tr>

                    <tr onclick="location.href='Anleitung_durchgehen.html'">
                        <td> <img src="../static/Weiteres.svg"> </td>
                        <td> Gebratener Seehecht mit Kartoffelstreifen </td>
                        <td> BolliTV </td>
                        <td> Essen, Gerichte </td>
                        <td> 50 </td>
                        <td> 06.01.2023 </td>
                        <td><img src="../static/Gesichert.svg"></td>
                    </tr>

                    <tr>
                        <td> <img src="../static/Weiteres.svg"> </td>
                        <td> MMK Anleitungen erstellen </td>
                        <td> RotY </td>
                        <td> How To's </td>
                        <td> 15 </td>
                        <td> 06.12.2022 </td>
                        <td><img src="../static/Anleitungsichern.svg"></td>
                    </tr>

                    <tr>
                        <td> <img src="../static/Weiteres.svg"> </td>
                        <td> MMK Anleitungen erstellen </td>
                        <td> RotY </td>
                        <td> How To's </td>
                        <td> 15 </td>
                        <td> 06.12.2022 </td>
                        <td><img src="../static/Anleitungsichern.svg"></td>
                    </tr>

                    <tr>
                        <td> <img src="../static/Weiteres.svg"> </td>
                        <td> MMK Anleitungen erstellen </td>
                        <td> RotY </td>
                        <td> How To's </td>
                        <td> 15 </td>
                        <td> 06.12.2022 </td>
                        <td><img src="../static/Anleitungsichern.svg"></td>
                    </tr>

                    <tr>
                        <td> <img src="../static/Weiteres.svg"> </td>
                        <td> MMK Anleitungen erstellen </td>
                        <td> RotY </td>
                        <td> How To's </td>
                        <td> 15 </td>
                        <td> 06.12.2022 </td>
                        <td><img src="../static/Anleitungsichern.svg"></td>
                    </tr>

                    <tr>
                        <td> <img src="../static/Weiteres.svg"> </td>
                        <td> MMK Anleitungen erstellen </td>
                        <td> RotY </td>
                        <td> How To's </td>
                        <td> 15 </td>
                        <td> 06.12.2022 </td>
                        <td><img src="../static/Anleitungsichern.svg"></td>
                    </tr>
                </table>
            </div>

        </div>

        <!-- Bild von ausserhalb anzeigen lassen -->
        <!-- <div class="BildVonAusserhalb">

            <img class="Fillbild" src="https://www.w3schools.com/images/w3schools_green.jpg" >

        </div> -->
    </div>
    
</body>

</html>