<!DOCTYPE html>
<html lang="en">

<!----------------------------------------------------HEAD----------------------------------------------------->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SbS Instructions</title>
    <link rel="stylesheet" type="text/css" href="../static/Mein_Profil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins">

</head>


<!----------------------------------------------------BODY----------------------------------------------------->

<body>
    
    <!-- Header mit Logo und Buttons -->
    <div class="header">
        <div class="boxumAErstellen" onclick="location.href='./Add_page.html'">
            <input class="aErstellen" type="button">
        </div>

        <div class="boxumProfil" onclick="location.href='./Mein_Profil.html'">
            <input class="profil" type="button">
        </div>       
    </div>

    <div class="logocontainer">
       <img class="logo" src="../static/Logo.svg" type="button" onclick="location.href='./Startbildschirm.html'">
        
    </div>


    <!-- Der Bodybody -->    

<div class="body">
    <div>
        <h1 class = infoText> Mein Profil  </h1>
    </div>
        <!-- Benutzerlogo  -->
    <div class="Benutzerlogo">
        <img class="Benutzerlogo" src="../static/Profil_Logo.svg">
    </div>
    <!-- Eingabefelder  -->
    <div class="Eingabefelder">
        
        <div class="textbox">
            <div class="Name">
                <p>Name:</p>
                <p hidden class="fehlermeldungtext">Bitte geben Sie ihren Namen an!</p>
            </div>
            <input class="texteingabe" type="text" placeholder="Max Mustermann" name="Name" size="80%">
        </div>
        
        <div class="textbox">
            <div class="Emailtext">
                <p>E-Mail Adresse:</p>
            </div>
            <input class="texteingabe" type="text" placeholder="Max.Mustermann@muster.com" name="Name" size="80%">
        </div>

        <div class="textbox">
            <div class="Passwort">
                <p>Passwort:</p>
            </div>
            <input class="texteingabe" type="text" placeholder="***************" name="Name" size="80%">
        </div>
      

        
    </div>
    
    <!-- Abbrechen und Speichern Buttons -->
    <div class="abbruchspeichern">

        <div class="abbrechen">
            <button class="buttonabbrechen" onclick="popupOnA()"> <!-- Abbrech-Popup hier verlinkt -->
            <div class="buttoninnensekundaer"><img src="../static/AbbrechenX.svg"></div>
            <div class="buttonschriftsekundaer">Abbrechen</div>
            </button> 
        </div>

        <div class="speichern">
            <button class="buttonspeichern" onclick="popupOnS()">  <!-- Speichern-Popup hier verlinken -->
            <div class="buttoninnenprimaer"><img src="../static/SpeichernX.svg"></div>
            <div class="buttonschriftprimaer">Speichern</div>
            </button> 
        </div>
        
    </div>

</div>





</body>
</html>